* {
    font-weight: bold;
}

.user-details-info {
    margin-top: 5px;
    margin-bottom: 5px;
}

.user-details-address-wrap {
    margin-top: 5px;
    .user-details-address {
        margin: 0;
        padding-left: 30px;
    }
}

.user-details-wrap {
    padding: 30px 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(0, 0, 0, 0.19);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.w-h-full {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
